<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Inter, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #282832;
    font-weight: 500;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3, h4, h5 {
    font-size: 18px;
}

h6 {
    font-size:14.5px;
}

a {
    color: #3273dc;
}

.title {
    text-decoration: none;
    border: 0;
}

.title span {
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

nav a {
    color: #282832;
    text-decoration: none;
}

nav a:hover {
    color: #2380ed;
}

#nav-title {
    margin-right: auto;
}

nav a {
    display: flex;
}

textarea {
    width: 100%;
    font-size: 16px;
}

input {
    font-size: 16px;
}

content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 100%;
}

code {
    padding: 2px 5px;
    background-color: #f2f2f2;
}

pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
}

div.highlight pre {
    background-color: initial;
    color: initial;
}

div.highlight code {
    background-color: unset;
    color: unset;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
    color: #8b6fcb;
}

hr {
    border: none;
    border-top: 1px dashed #999;
    color: #333;
    overflow: visible;
    height: 1px;
    margin: 2em 0;
}

a[href$="/missing"] {
    background-color: #E5E5E5;
    color: #5D5D67;
    padding: 0rem 0.2rem 0rem 0.2rem;
}

a[href^="http"] {
    background-image: url(/img/external-link.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1.3rem;
}

.related-wrapper {
    column-count: 2;
    display: grid;
    grid-gap: 0.6rem 0.6rem;
    grid-template-columns: repeat(2, 1fr);
}

.noteslist-feed {
    color: #282832;
    display: block;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #E5E5E5;
}

.noteslist-feed h6 {
    padding: 0.6rem 0 0 0;
    margin: 0 0 0 0;
}

.noteslist-feed:hover h6 {
    color: #2380ed;
}

.excerpt {
    color: #5D5D67;
    text-decoration: none;
    font-size: 14.5px;
    margin: 0 0 0 0;
}

table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    border: 0.1rem solid #bfbfbf;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table th {
    font-weight: 600;
    padding: 0.3rem 0.6rem 0;
    border-bottom: 0.1rem solid #000;
}

table td {
    padding: 0.3rem 0.6rem 0;
    border-bottom: 0.1rem solid #bfbfbf;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #FAFAFC;
        background-color: #262626;
    }

    h1, h2, h3, h4, h5, h6, h7, strong, b {
        color: #FAFAFC
    }

    a {
        color: #6D9EFF;
    }

    nav a {
        color: #FAFAFC;
        text-decoration: none;
    }

    nav a:hover {
        color: #6D9EFF;
    }

    code {
        background-color: #353535;
    }

    pre code {
        color: #222;
    }

    div.highlight pre {
        background-color: initial;
        color: initial;
    }

    div.highlight code {
        background-color: unset;
        color: unset;
    }

    blockquote {
        border-left: 1px solid #999;
        color: #fafafc;
    }

    .helptext {
        color: #777;
    }

    .errorlist {
        color: #eba613;
    }

    hr {
        border-top: 1px dashed #999;
        color: #333;
    }

    a[href$="/missing"] {
        background-color: #353535;
        color: #FFFEFF;
    }

    .noteslist-feed {
        color: #282832;
        border-bottom: 1px solid #353535;
    }

    .noteslist-feed:hover h6 {
        color: #6D9EFF;
    }

    .excerpt {
        color: #FAFAFC;
    }

    table {
        border-color: rgb(66, 66, 66);
        color: rgb(232,230,227);
    }


    table th {
        background-color: rgb(60, 60, 60);
        border-color: rgb(60, 60, 60);
    }

    table td {
        border-bottom: 0.1rem solid #bfbfbf;
        border-color: rgb(66, 66, 66);
    }
}
</style>
